/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';



html, body{
  height: 100%;
}

.wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 130px;
  margin-bottom: 10px;
}

.body{
  max-width: 300px;
  width: 100%;
  text-align: center;
}

